{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for projet in projets %}
                    <div class="col">
                        <div class="card h-100 bg-orange">
                            <div class="card-body">
                                <h5 class="card-title">{{ projet.name }}</h5>
                                <h6 class="card-text mt-3">Description : {{ projet.description }}</h6>
                                <hr>
                                <a href="#" class="btn noir text-white" data-bs-toggle="modal" data-bs-target="#projetModal{{ loop.index }}" data-bs-name="{{ projet.name }}" data-bs-description="{{ projet.description }}">Voir</a>
                                <a class="btn" href="{{ path('app_delete', {id:projet.id} ) }}"><i class="bi bi-trash"></i></a>
                                <a class="btn" href="{{ path('app_edit', {id:projet.id} ) }}"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for projet in projets %}
        <div class="modal fade" id="projetModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle{{ loop.index }}">{{ projet.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody{{ loop.index }}">
                        <h5 class="card-title">{{ projet.name }}</h5>
                        <h6 class="card-text mt-3">Description : {{ projet.description }}</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="{{ path('app_create') }}" class="btn btn-sm bg-orange text-white text-center d-block mx-auto mt-5" style="width: 200px;">Ajouter un nouveau Projet</a>
{% endblock %}
